/* fontName: Fira Sans Original Font Css


@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Bold.eot');
  src: url('fonts/FiraSans-Bold.woff2') format('woff2'),
     url('fonts/FiraSans-Bold.woff') format('woff'),
     url('fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Regular.eot');
  src: url('fonts/FiraSans-Regular.woff2') format('woff2'),
     url('fonts/FiraSans-Regular.woff') format('woff'),
     url('fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Medium.eot');
  src: url('fonts/FiraSans-Medium.woff2') format('woff2'),
     url('fonts/FiraSans-Medium.woff') format('woff'),
     url('fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Light.eot');
  src: url('fonts/FiraSans-Light.woff2') format('woff2'),
     url('fonts/FiraSans-Light.woff') format('woff'),
     url('fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} */


/* shoobanFont - IranSansX */

/**
*
*	Name:			IRANSansX Fonts
*	Version:			1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Apr 22, 2021
*	Updated on:		Apr 22, 2021
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونتایران سنس Xا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANSansX fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 100;
	src: url('fonts/IRANSansX-thin.eot');
	src: url('fonts/IRANSansX-thin.woff') format('woff'),   
	url('fonts/IRANSansX-thin.woff2') format('woff2'),
	url('fonts/IRANSansX-thin.ttf') format('truetype');

}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/IRANSansX-UltraLight.eot');
	src: url('fonts/IRANSansX-UltraLight.woff') format('woff'),   
	url('fonts/IRANSansX-UltraLight.woff2') format('woff2'),
	url('fonts/IRANSansX-UltraLight.ttf') format('truetype');

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/IRANSansX-Light.eot');
	src: url('fonts/IRANSansX-Light.woff') format('woff'),   
	url('fonts/IRANSansX-Light.woff2') format('woff2'),
	url('fonts/IRANSansX-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/IRANSansX-Medium.eot');
	src: url('fonts/IRANSansX-Medium.woff') format('woff'),   
	url('fonts/IRANSansX-Medium.woff2') format('woff2'),
	url('fonts/IRANSansX-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/IRANSansX-DemiBold.eot');
	src: url('fonts/IRANSansX-DemiBold.woff') format('woff'),   
	url('fonts/IRANSansX-DemiBold.woff2') format('woff2'),
	url('fonts/IRANSansX-DemiBold.ttf') format('truetype');

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/IRANSansX-ExtraBold.eot');
	src: url('fonts/IRANSansX-ExtraBold.woff') format('woff'),   
	url('fonts/IRANSansX-ExtraBold.woff2') format('woff2'),
	url('fonts/IRANSansX-ExtraBold.ttf') format('truetype');	 
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 900;
	src: url('fonts/IRANSansX-Black.eot');
	src: url('fonts/IRANSansX-Black.woff') format('woff'),   
	url('fonts/IRANSansX-Black.woff2') format('woff2'),
	url('fonts/IRANSansX-Black.ttf') format('truetype');	 
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/IRANSansX-Bold.eot');
	src: url('fonts/IRANSansX-Bold.woff') format('woff'),   
	url('fonts/IRANSansX-Bold.woff2') format('woff2'),
	url('fonts/IRANSansX-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IRANSansX-Regular.eot');
	src: url('fonts/IRANSansX-thin.woff') format('woff'),   
	url('fonts/IRANSansX-thin.woff2') format('woff2'),
	url('fonts/IRANSansX-thin.ttf') format('truetype');
}


